extends layout

block content

  .container.col-lg-10.col-xs-12
    .row-lg-12
      .col-lg-1
        #addClientModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                 span(aria-hidden='true') ×
                 span.sr-only Close
                h4#addClientModal.modal-title Novo Cliente
              .modal-body
                form(class='form-signup', action="", method='POST')
                  .row
                    .col-lg-12
                      h4.control-label(for='inputName') Nome:
                        input#inputname.form-control(type='text', name='name' class='form-control', placeholder='Nome',required, autofocus)
                  .row
                    .col-lg-6
                      h4.control-label(for='inputVat') NIF:
                        input#inputclientvat.form-control(type='number', name='clientvat', min='100000000', max='999999999', class='form-control', placeholder='NIF',required)
                    .col-lg-6
                      h4.control-label(for='inputCAE') CAE:
                        input#inputcae.form-control(type='text', name='cae' class='form-control', placeholder='CAE')
                  .row
                    .col-lg-12
                      h4.control-label(for='inputEmail') Email:
                        input#inputEmail.form-control(type='text', name='email' class='form-control', placeholder='E-mail',required)
                  .row
                    .col-lg-12
                      h4.control-label(for='inputAddress') Morada:
                        input#inputAddress.form-control(type='text', name='address' class='form-control', placeholder='Morada',required)
                  .row
                    .col-lg-12
                      h4.control-label(for='inputTelephone') Telefone:
                        input#inputtelephone.form-control(type='number', name='telephone' class='form-control', placeholder='Telefone',required)
                  .row
                    .col-lg-12
                      h4.control-label(for='inputSubscription') Subscrição:
                        select#select.form-control(type='text', name='subscription' class='form-control')
                          option Individual
                          option Semanal
                          option Mensal
                          option Anual
                  .row
                  button.btn.btn-primary(type='submit') Criar
      .col-lg-1
        #deleteClientModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                 span(aria-hidden='true') ×
                 span.sr-only Close
                h4#deleteClientModal.modal-title Remover Cliente
              .modal-body
                form(action="?_method=DELETE", method='POST')
                  .row
                    .col-lg-12
                      h4.control-label(for='inputVat') NIF:
                        input#inputvat.form-control(type='number', name='clientvat', min='100000000', max='999999999' class='form-control', placeholder='NIF',required, autofocus)
                  .row
                  button.btn.btn-primary(type='submit') Remover
  .container.col-lg-10.col-xs-12
        .panel.panel-info.panel-table
          .panel-heading
            .row
              .col.col-xs-6
                h3.panel-title Lista
              .col.col-xs-6.text-right
                button.btn.btn-sm.btn-danger.btn-create(data-toggle='modal', data-target='#deleteClientModal') Remover
                button.btn.btn-sm.btn-primary.btn-create(data-toggle='modal', data-target='#addClientModal') Criar Novo
          .panel-body
            table.table.table-striped.table-bordered.table-list
              thead
                tr
                  th.hidden-xs ID
                  th Nome
                  th NIF
                  th E-mail
              tbody
                each client in clients
                  tr
                    td.hidden-xs=client.number
                    td
                     a(href="/client/detail/#{client._id}")= client.name
                    td=client.clientvat
                    td=client.email
          .panel-footer
            .row
              .col-lg-12
                ul.pagination.hidden-xs.pull-right
                  li
                    a(href='#') 1
                ul.pagination.visible-xs.pull-right
                  li
                    a(href='#') «
                  li
                    a(href='#') »