extends layout-client

block content
 
 .row
   .col-lg-5.col-md-5.col-sm-5
      .panel.panel-info
        .panel-heading
          h3.panel-title Ultimos Clientes
        .panel-body
          ul.list-group
            li.list-group-item Cliente Exemplo 1
            li.list-group-item Cliente Exemplo 2
            li.list-group-item Cliente Exemplo 3
            li.list-group-item Cliente Exemplo 4
            li.list-group-item Cliente Exemplo 5
   .col-lg-5.col-md-5.col-sm-5
      .panel.panel-info
        .panel-heading
          h3.panel-title Ultimos Relatorios
        .panel-body
          ul.list-group
            li.list-group-item Relatorio 1
            li.list-group-item Relatorio 2
            li.list-group-item Relatorio 3
            li.list-group-item Relatorio 4
            li.list-group-item Relatorio 5
          
       
       
  
