doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/flatly.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') aHoreca
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/client/')
                | Clients
                span.sr-only (current)
            li
              a(href='/report/') Reports
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown")
                | Dropdown
                span.caret
              ul.dropdown-menu
                li
                  a(href="#") action
                li
                  a(href="#") another action

    block content
    footer
      .row
        .col-xs-12
          small &copy; João Fernandes 2017



script(src='/javascripts/jquery-3.1.1.min.js')
script(src='/bootstrap/js/bootstrap.min.js')