extends layout

block content

  .container.col-lg-10.col-xs-12
    .row-lg-12
      .col-lg-1        
        #newLeadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                 span(aria-hidden='true') ×
                 span.sr-only Close
                h4#myModalLabel.modal-title Novo Lead
              .modal-body
                form(class='form-signup', action="", method='POST')
                  .row
                    h4.control-label(for='inputName') Nome:
                        input#inputname.form-control(type='text', name='name' class='form-control', placeholder='Nome',required, autofocus)
                  .row
                    h4.control-label(for='inputVat') NIF:
                        input#inputclientvat.form-control(type='number', name='clientvat', min='100000000', max='999999999', class='form-control', placeholder='NIF',required)
                  .row
                    h4.control-label(for='inputEmail') Email:
                        input#inputEmail.form-control(type='text', name='email' class='form-control', placeholder='E-mail',required)
                  .row
                    h4.control-label(for='inputCAE') CAE:
                        input#inputcae.form-control(type='text', name='cae' class='form-control', placeholder='CAE')
                  .row
                    h4.control-label(for='inputAdress') Morada:
                        input#inputAddress.form-control(type='text', name='address' class='form-control', placeholder='Morada',required)
                  .row
                    h4.control-label(for='inputTelephone') Telefone:
                        input#inputtelephone.form-control(type='number', name='telephone' class='form-control', placeholder='Telefone',required)
                  .row
                  button.btn.btn-primary(type='submit') Criar
      .col-lg-1
        #deleteLeadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                 span(aria-hidden='true') ×
                 span.sr-only Close
                h4#deleteLeadModal.modal-title Remover Lead
              .modal-body
                form(action="?_method=DELETE", method='POST')
                  .row
                    .col-lg-12
                      h4.control-label(for='inputVat') NIF:
                        input#inputvat.form-control(type='number', name='clientvat', min='100000000', max='999999999' class='form-control', placeholder='NIF',required, autofocus)
                  .row
                  button.btn.btn-primary(type='submit') Remover
  .col-lg-10.col-lg-offset-1.col-md-offset-1.col-md-10.col-sm-offset-2.col-sm-9
        .panel.panel-info.panel-table.panel-shadow
          .panel-heading
            .row
              .col.col-xs-6
                h3.panel-title Lista
              .col.col-xs-6.text-right
                button.btn.btn-sm.btn-danger.btn-create(data-toggle='modal', data-target='#deleteLeadModal') Remover
                button.btn.btn-sm.btn-primary.btn-create(data-toggle='modal', data-target='#newLeadModal') Criar Novo
          .panel-body
            table.table.table-striped.table-bordered.table-list
              thead
                tr
                  th.hidden-xs ID
                  th Nome
                  th NIF
                  th E-mail
              tbody
                each lead in leads
                  tr
                    td.hidden-xs=lead.number
                    td
                     a(href="/lead/detail/#{lead._id}")= lead.name
                    td=lead.clientvat
                    td=lead.email
          .panel-footer
            .row
              .col-lg-12
                ul.pagination.hidden-xs.pull-right
                  li
                    a(href='#') 1
                ul.pagination.visible-xs.pull-right
                  li
                    a(href='#') «
                  li
                    a(href='#') »