extends layout

block content
 
  .container.col-lg-10.col-xs-12
    .row
      table.table.table-striped.table-hover.table-responsive.table-condensed
        thead
          tr.info
            th Número
            th Nome
            th NIF
            th E-mail
            th Data
        tbody
          each lead in leads
            tr
                td=lead.number
                td
                 a(href="/lead/detail/#{lead._id}")= lead.name
                td=lead.clientvat
                td=lead.email
                td Column content

