extends layout

block content

  .container.col-lg-10.col-xs-12
    .row-lg-12
      .col-lg-12
        button.btn.btn-primary.btn-md(data-toggle='modal', data-target='#myModal') Novo
        #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                 span(aria-hidden='true') ×
                 span.sr-only Close
                h4#myModalLabel.modal-title Novo Lead
              .modal-body
                form(class='form-signup', action="", method='POST')
                  .row
                    h4.control-label(for='inputName') Nome:
                        input#inputUsername.form-control(type='text', name='name' class='form-control', placeholder='Nome',required, autofocus)
                  .row
                    h4.control-label(for='inputVat') NIF:
                        input#inputPassword.form-control(type='text', name='vat' class='form-control', placeholder='NIF',required)
                  .row
                    h4.control-label(for='inputEmail') Email:
                        input#inputEmail.form-control(type='text', name='email' class='form-control', placeholder='E-mail',required)
                  .row
                    h4.control-label(for='inputCAE') CAE:
                        input#inputEmail.form-control(type='text', name='cae' class='form-control', placeholder='CAE')
                  .row
                    h4.control-label(for='inputAdress') Morada:
                        input#inputEmail.form-control(type='text', name='adress' class='form-control', placeholder='Morada',required)
                  .row
                    h4.control-label(for='inputTelephone') Telefone:
                        input#inputEmail.form-control(type='text', name='telephone' class='form-control', placeholder='Telefone',required)
                  .row
                  button.btn.btn-primary(type='submit') Criar
 
  .container.col-lg-10.col-xs-12
    .row-lg-12
      p
      br
      table.table.table-striped.table-hover.table-responsive.table-condensed
        thead
          tr.info
            th Número
            th Nome
            th NIF
            th E-mail
            th Data
        tbody
          each lead in leads
            tr
                td=lead.number
                td
                 a(href="/lead/detail/#{lead._id}")= lead.name
                td=lead.clientvat
                td=lead.email
                td Column content

