extends layout

block content
  
     .row
      form.form-horizontal
          fieldset
              .form-group
                  label.col-lg-2.control-label(for='inputFile') File
                  .col-lg-8
                      input#inputFile.form-control(type='file')
 