extends layout

block content
  
     .col-lg-10.col-lg-offset-1.col-md-offset-1.col-md-10.col-sm-offset-2.col-sm-9
                     form(action='/report/confirm', method='post', enctype='multipart/form-data')
                        label(for='file') Upload File
                        input(type='file', name='file')
                        input(type='submit', name='submit', value='submit')

 