extends layout

block content
  .container.col-lg-8.col-xs-12
     .row
       h1= title



  .container.col-lg-8.col-xs-12
     .row
            form(class='form-signup', action='/signup', method='POST')
                h2 Dados
                    .row
                    label.control-label(for='inputUsername') Utilizador
                        input#inputUsername.form-control(type='text', name='username' class='form-control', placeholder='Utilizador',required, autofocus)
                    .row
                    label.control-label(for='inputPassword') Senha
                        input#inputPassword.form-control(type='text', name='password' class='form-control', placeholder='Senha',required)
                    .row
                    label.control-label(for='inputEmail') Email
                        input#inputEmail.form-control(type='text', name='email' class='form-control', placeholder='E-mail',required)
                    .row
                  button.btn.btn-primary(type='submit') Registar