extends layout

block content
  
     .row
      form.form-horizontal
          fieldset
              .form-group
                  h2 Dados
                  label.col-lg-2.control-label(for='inputName') Nome
                  .col-lg-2
                      input#inputName.form-control(type='text', placeholder='Nome')
                  label.col-lg-2.control-label(for='inputVAT') NIF
                  .col-lg-2
                      input#inputVAT.form-control(type='text', placeholder='NIF')

              .form-group
                  h2 Informa DB
                  label.col-lg-2.control-label(for='ratingInformaDB') Rating InformaDB
                  .col-lg-1
                      select#ratingInformaDB.form-control
                          option 0
                          option 1
                          option 2
                          option 3
                          option 4
                          option 5
                          option 6
                          option 7
                          option 8
                          option 9
                          option 10
                          option 11
                          option 12
                          option 13
                          option 14
                          option 15
                          option 16
                          option 17
                          option 18
                          option 19
                          option 20

                  label.col-lg-2.control-label(for='inputLimitInformaDB') Limite InformaDB
                  .col-lg-2
                      input#inputLimitInformaDB.form-control(type='text', placeholder='Limite InformaDB')
              .form-group
                  h2 Rigorbiz
                  label.col-lg-2.control-label(for='acaojudicial') Ações Judiciais
                  .col-lg-1
                      select#acaojudicial.form-control
                          option Não
                          option Sim
                  label.col-lg-2.control-label(for='inputValorAcaojudicial') Valor Ações Judiciais
                  .col-lg-2
                      input#inputValorAcaojudicial.form-control(type='text', placeholder='Valor')
                  label.col-lg-2.control-label(for='inputPrincipalAutor') Principal Autor
                  .col-lg-2
                      input#inputPrincipalAutor.form-control(type='text', placeholder='Nome')
              .form-group
                  label.col-lg-2.control-label(for='textArea') Textarea
                  .col-lg-10
                      textarea#textArea.form-control(rows='3')
                      span.help-block
                          | A longer block of help text that breaks onto a new line and may extend beyond one line.
              .form-group
                  label.col-lg-2.control-label Radios
                  .col-lg-10
                      .radio
                          label
                              input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                              |             Option one is this
                      .radio
                          label
                              input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                              |             Option two can be something else

                      br
                      select.form-control(multiple='')
                          option 1
                          option 2
                          option 3
                          option 4
                          option 5
              .form-group
                  .col-lg-10.col-lg-offset-2
                      button.btn.btn-default(type='reset') Cancel
                      button.btn.btn-primary(type='submit') Submit