extends layout-collaborator

block content

  .container.col-lg-8
    .row-lg-8
      .col-lg-8.col-md-6.col-xs-12
       .tabbable-line
        ul.nav.nav-tabs
          li.active
            a(href='#header', role='tab', data-toggle='tab') Dados
          li
            a(href='#subscription', role='tab', data-toggle='tab') Plano   
    .row-lg-8
       .tab-content
            .tab-pane.active(id='header')
                br
                br
                br
                h4 Nome: #{user.name}
                h4 Empresa: #{user.company} 
                h4 E-mail: #{user.email} 
                h4 Utilizador: #{user.username}
            .tab-pane(id='subscription')
                br
                br
                br
                h4 Número de Relatórios Pedidos:
                h4 Número de Relatórios Restantes:         