extends layout

block content

 .col-lg-11.col-md-10
    .tabbable-line
        ul.nav.nav-tabs.panel-shadow
          li.active
            a(href='#header', role='tab', data-toggle='tab')
             strong Dados
          li
            a(href='#subscription', role='tab', data-toggle='tab')
             strong Plano
        .tab-content.panel-shadow
            .tab-pane.active(id='header')
                br
                br
                br
                h4 Nome: #{user.name}
                h4 Empresa: #{user.company} 
                h4 E-mail: #{user.email} 
                h4 Utilizador: #{user.username}         