extends layout-client

block content
  .col-lg-10.col-lg-offset-1.col-md-offset-1.col-md-10.col-sm-offset-2.col-sm-9
    .tabbable-line
        ul.nav.nav-tabs.panel-shadow
          li.active
            a(href='#header', role='tab', data-toggle='tab') 
             strong Dados
          li
            a(href='#company', role='tab', data-toggle='tab') 
             strong Empresa
       .tab-content.panel-shadow
            .tab-pane.active(id='header')
                h4 Nome: #{user.name}
                h4 Empresa: #{user.company} 
                h4 E-mail: #{user.email} 
                h4 Utilizador: #{user.username}
            .tab-pane(id='company')
                h4 NOME:
                h4 NIF:
                h4 CAE:
                h4 SEDE:
                h4 TELEFONE:
                h4 E-MAIL:         