extends layout-client

block content

  .container.col-lg-8
    .row-lg-8
      .col-lg-8.col-md-6.col-xs-12
        ul.nav.nav-tabs
          li.active
            a(href='#header', role='tab', data-toggle='tab') Dados
          li
            a(href='#subscription', role='tab', data-toggle='tab') Plano   
    .row-lg-8
       .tab-content
            .tab-pane.active(id='header')
                br
                br
                br
                h4 Nome: 
                h4 Empresa: 
                h4 E-mail:
                h4 Utilizador:
                h4 Mudar Senha:
            .tab-pane(id='subscription')
                br
                br
                br
                h4 Número de Relatórios Pedidos:
                h4 Número de Relatórios Restantes:         