extends layout

block content
 
  .container.col-lg-8.col-xs-12
     .row
       table.table.table-striped.table-hover.table-responsive.table-condensed
         thead
           tr.info
             th Número
             th Nome
             th NIF
             th Data
         tbody
           tr
             td
               a(href='/report/detail/508061270') 1
             td
               a(href='/report/detail/508061270') SUCCESSWORK LDA
             td
               a(href='report/detail/508061270') 508061270
             td
               a(href='report/detail/508061270') 12/01/2017
           tr
             td 2
             td Column content
             td Column content
             td Column content
           tr
             td 3
             td Column content
             td Column content
             td Column content

