extends layout

block content
  h1= title


  table.table.table-striped.table-hover
    thead
      tr.info
        th Número
        th Nome
        th NIF
        th Data
    tbody
      tr
        td
          a(href='/report/detail') 1
        td
          a(href='/report/detail') ANIMADOCAS, LDA
        td
          a(href='/report/detail') 507579917
        td
          a(href='/report/detail') 12/01/2017
      tr
        td 2
        td Column content
        td Column content
        td Column content
      tr
        td 3
        td Column content
        td Column content
        td Column content

