extends layout

block content

  .container.col-lg-10.col-xs-12
    .row-lg-12
      .col-lg-1
        #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                 span(aria-hidden='true') ×
                 span.sr-only Close
                h4#myModalLabel.modal-title Novo Utilizador
              .modal-body
                form(class='form-signup', action='/signup', method='POST')
                  .row
                    h4.control-label(for='inputUsername') Utilizador
                        input#inputUsername.form-control(type='text', name='username' class='form-control', placeholder='Utilizador',required, autofocus)
                  .row
                    h4.control-label(for='inputPassword') Senha
                        input#inputPassword.form-control(type='text', name='password' class='form-control', placeholder='Senha',required)
                  .row
                    h4.control-label(for='inputEmail') Email
                        input#inputEmail.form-control(type='text', name='email' class='form-control', placeholder='E-mail',required)
                  .row
                  button.btn.btn-primary(type='submit') Registar
      .col-lg-1
        #deleteUserModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                 span(aria-hidden='true') ×
                 span.sr-only Close
                h4#deleteUserModal.modal-title Remover Utilizador
              .modal-body
                form(action="?_method=DELETE", method='POST')
                  .row
                    .col-lg-12
                      h4.control-label(for='inputname') Nome:
                        input#inputname.form-control(type='text', name='username', class='form-control', placeholder='Nome',required, autofocus)
                  .row
                  button.btn.btn-primary(type='submit') Remover
  .col-lg-10.col-lg-offset-1.col-md-offset-1.col-md-10.col-sm-offset-2.col-sm-9
      button.btn.btn-primary.btn-md(data-toggle='modal', data-target='#myModal') Novo
      button.btn.btn-danger.btn-md(data-toggle='modal', data-target='#deleteUserModal') Remover

      p
      br
      table.table.table-striped.table-hover.table-condensed.table-responsive
        thead
          tr.info
            th Utilizador
            th E-mail
        tbody
          each user in users
            tr
                td
                 a(href="/user/#{_id}")= user.username
                td= user.email

